<h1><%= title %></h1>
<p><%= message.message %></p>
<p>
  <strong>By:</strong> <%= message.user %><br>
  <strong>Posted on:</strong> <%= message.added.toLocaleString() %>
</p>
<a href="/">Back to Home</a>